* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.App {
  width: 100vw;
  min-height: 100%;
  display: flex;
}

.left-container {
  width: 15%;
  height: 100%;
  padding: 10px 10px;
}

.heading-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-container {
  width: 85%;
  font-size: 20px;
  height: 100%;
}